.dashboard {
  grid-area: dashboard;
  background-color: var(--secondary);
  padding: 32px 16px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
  "project announcements"
  "project trending";
  column-gap: 16px;
  row-gap: 16px
}

.project__card,
.announcement__list,
.trending__list {
  box-shadow: 0px 4px 8px 0 #00000020;
}

/* project */
.project {
  grid-area: project;
  display: grid;
  grid-template-rows: 27px 1fr ;
}

.project__header {
  font-weight: 600;
  font-size: 18px;
}

.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;
  gap: 16px;
}

.project__card {
  height: 100%;
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 1fr 20px;
  padding: 16px;
  border-left: 8px solid var(--project-border-color);
  border-radius: 8px;
  gap: 16px;
}

.project__title {
  font-weight: 700;
}

.project__desc {
  color: var(--project-desc-color);
  font-size: 14px;
  font-weight: 450;
}

.project__actions {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  gap: 32px;
  justify-self: right;
}

.project__svg {
  min-width: 20px;
  height: 20px;
  justify-self: center;
}

/* announcement */
.announcement__header {
  font-weight: 600;
  font-size: 18px;
}

.announcement__list {
  margin-top: 8px;
  background-color: #FFFFFF;
  display: grid;
  gap: 16px;
  padding: 1rem; 
  border-radius: 8px;
}

.announcement__title {
  font-weight: 800;
  font-size: 14px;
}

.announcement__desc {
  color: var(--project-desc-color);
  font-size: 12px;
}

.line {
  color: var(--project-desc-color);
  opacity: 0.4;
}

/* trending */
.trending {
  font-weight: 700;
}

.trending__list {
  background-color: #FFFFFF;
  padding: 16px;
  display: grid;
  gap: 24px;
  margin-top: 8px;
  border-radius: 8px;
}

.trending__avatar {
  width: 40px;
  min-height: 40px;
  background-color: var(--project-border-color);
  border-radius: 50%;
}

.trending__card {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
  align-items: center;
}

.trending__user,
.trending__project-name {
  font-size: 14px;
  font-weight: 500;
}

.trending__project-name {
  color: var(--project-desc-color)
}