.admin-dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 160px 1fr;
  font-family: "Roboto";
  grid-template-areas: 
  "sidebar header"
  "sidebar dashboard";
}
/*
.sidebar__pages {
  display: grid;
  gap: 16px;
} */

/* .sidebar__pages--util {
  margin-top: 24px;
} */

/* .header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.header__actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-row: 1 / 3;
  display: grid;
}

.sidebar__page-item svg {
  justify-self: center;
} */
