svg {
  min-width: 20px;
  height: 20px;
}

.admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  font-family: "Roboto";
  height: 100vh;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-row: 1 / 3;

  display: grid;
  gap: 32px;
  grid-auto-rows: min-content;
}

.sidebar__page-item,
.sidebar__page-item svg {
  color: var(--sidebar-text-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.sidebar__page-item svg {
  justify-self: center;
}

.sidebar__title,
.sidebar__title svg {
  color: var(--sidebar-text-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar__title {
  justify-content: center;
  align-items: center;
}

.sidebar__title svg {
  min-width: 40px;
  height: 40px;
  justify-self: center;
}

.sidebar__title-text {
  font-size: 32px;
}

.sidebar__text {
  font-size: 20px;
}

.sidebar__pages {
  display: grid;
  gap: 8px;
}

/* .header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.header__searchbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-row: 1 / 3;
  display: grid;
}

.sidebar__page-item svg {
  justify-self: center;
} */
