svg {
  width: 24px;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-row: 1 / 3;
}

.sidebar__page-item,
.sidebar__page-item svg {
  color: var(--sidebar-text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sidebar__title,
.sidebar__title svg {
  color: var(--sidebar-text-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* .header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.header__searchbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-row: 1 / 3;
  display: grid;
}

.sidebar__page-item svg {
  justify-self: center;
} */
